<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Viaggi di Tony </title>
    <meta name="description" content="<%=description_small%>">
    <link rel="stylesheet" href="/trekking-details.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet-omnivore@0.3.0/leaflet-omnivore.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="icon" href="/mountain.ico" type="image/x-icon">
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "<%= name %>",
  "description": "<%= description_small %>",
  "image": "https://viaggiditony.it/public/<%=name%>-<%=date%>/cover.jpg",
  "datePublished": "<%= date %>",
  "dateModified": "<%= date %>",
  "author": {
    "@type": "Person",
    "name": "Tony"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Viaggi di Tony",
    "logo": {
      "@type": "ImageObject",
      "url": "https://viaggiditony.it/logo.png"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://viaggiditony.it/trekking/<%= name %>"
  },
  "articleSection": "Trekking"
}
</script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-custom navbar-light bg-light">
        
        <div class="container-fluid d-flex justify-content-between">
          <a class="navbar-brand" href="https://viaggiditony.it" title="home">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
    </a>
          <!-- Titolo centrato -->
           <div class="nav-item">
          <h1  id="trekking-name" style="font-size: 30px; margin-top: 5px;"><%= name%> </h1>
          </div> 
          <div class="nav-item">
           <!--  <img src="/public/mountain.ico" alt="icon" width="35" height="35" alt="home"> -->
          </div>
        </div>
      </nav>
      <div class="container my-4">
        <div class="card rounded-3 shadow-sm">
          <div class="card-header text-center bg-success text-white rounded-top-3">
            <h5>Informazioni del Percorso</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Bellezza: </strong>
                <span class="stars" id="rating" style="color: white;"><%=stars%> </span>
              </li>
              <li class="list-group-item">
                <strong>Partenza: </strong>
                <a href="https://www.google.com/maps/place/<%=parking%>" id="trekking-parking"><%= parking%> </a>
              </li>
              <li class="list-group-item">
                <strong>Durata: </strong>
                <span id="trekking-duration"><%= duration%> </span>
              </li>
              <li class="list-group-item">
                <strong>Quota: </strong>
                <span id="trekking-altitude"><%= altitude%> mt </span>
              </li>
              <li class="list-group-item">
                <strong>Dislivello: </strong>
                <span id="trekking-elevation"><%= elevation%> mt </span>
              </li><% if(tipo=="Multipitch") {%> <li id="approach" class="list-group-item" style="display: none;">
                <strong>Dislivello avvicinamento: </strong>
                <span id="trekking-approach"><%= approach%> mt </span>
              </li><% }%> <li class="list-group-item">
                <strong>Distanza: </strong>
                <span id="trekking-distance"><%= distance%> km </span>
                </span>
              </li>
              <li class="list-group-item">
                <strong>Tipologia: </strong>
                <span id="trekking-tipo"><%= tipo%> </span>
              </li>
              <li class="list-group-item">
                <strong>Difficoltà: </strong>
                <span id="trekking-difficulty"><%= difficulty%> </span>
              </li>
              <li class="list-group-item">
                <strong>Stagione: </strong>
                <span id="trekking-season"><%= season%> </span>
              </li>
              <li class="list-group-item">
                <strong>Esposizione: </strong>
                <span id="trekking-expose"><%= expose%> </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <main>
      <div class="container mt-4">
        <div class="row">
          <span class="mb-3" id="trekking-description" style="font-family: Consolas; padding: 30px;"><pre style="white-space: pre-wrap;"><%= description%></pre> </span>
        </div>
        <div class="row">
          <div class="container mb-5">
            <div class="accordion" id="accordionAttrezzatura">
              <!-- Sezione Abbigliamento 
        <div class="accordion-item"><h2 class="accordion-header" id="headingAbbigliamento"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAbbigliamento" aria-expanded="true" aria-controls="collapseAbbigliamento"><strong> 🧥 Abbigliamento</strong></button></h2><div id="collapseAbbigliamento" class="accordion-collapse collapse show" aria-labelledby="headingAbbigliamento" data-bs-parent="#accordionAttrezzatura"><div class="accordion-body"><ul class="list-group"><li class="list-group-item">Giacca impermeabile</li><li class="list-group-item">Pile termico</li><li class="list-group-item">Pantaloni tecnici</li><li class="list-group-item">Guanti e cappello</li></ul></div></div></div><div class="accordion-item"><h2 class="accordion-header" id="headingCalzature"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCalzature" aria-expanded="false" aria-controls="collapseCalzature"><strong>🥾 Calzature</strong></button></h2><div id="collapseCalzature" class="accordion-collapse collapse" aria-labelledby="headingCalzature" data-bs-parent="#accordionAttrezzatura"><div class="accordion-body"><ul class="list-group"><li class="list-group-item">Scarponi da trekking</li><li class="list-group-item">Calze tecniche</li><li class="list-group-item">Ghette (opzionali)</li></ul></div></div></div>
 -->
              <!-- Sezione Equipaggiamento Tecnico -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingEquipaggiamento">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEquipaggiamento" aria-expanded="false" aria-controls="collapseEquipaggiamento">
                    <strong>⛏️ Equipaggiamento Necessario</strong>
                  </button>
                </h2>
                <div id="collapseEquipaggiamento" class="accordion-collapse collapse" aria-labelledby="headingEquipaggiamento" data-bs-parent="#accordionAttrezzatura">
                  <div class="accordion-body">
                    <ul class="list-group" id="equipaggiamento"><% for(var i = 0; i < equipment.length; i++){%> <li class="list-group-item"><%=equipment[i]%> </li><% }%> </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div id="map" style="width: 100%; height: 400px;" onload="mostraContenuto()">Mappa</div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 col-sm-12">
            <div id="elevation-container" style="width: 100%; height: 400px;">
              <canvas id="elevationChart" style="height: 200%;"></canvas>
            </div>
          </div>
          <div class="col-md-6 col-sm-12" id="relive"><%-relive%> </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center align-items-center" id="youtube"><%-youtube%> </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <div id="carouselExampleIndicators" class="carousel slide mb-3 mt-3 pointer-event" data-bs-ride="carousel">
              <div class="carousel-indicators" id="indicator"><% for(var i =1 ; i
														<numFoto+1;i++){%> <button aria-label="Slide <%= i%>" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i-1 %>" class="<%= i===1 ? 'active' : ''%>" aria-current="<%= i === 1 ? 'true' : '' %>">
                </button><% }%> </div>
              <div class="carousel-inner" id="carosello"><% for(var h =1 ; h
															<numFoto+1;h++){%> <div class="carousel-item <%= h === 1 ? 'active' : '' %>">
                  <img src="/public/<%=name%>-<%=date%>/<%=h%>.jpg" class="d-block img-clickable" alt="Foto n° <%= h%> del trekking <%=name%>"  data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-img="/public/<%=name%>-<%=date%>/<%=h%>.jpg">
                </div><%}%>
																</div>
																<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
																	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
																	<span class="visually-hidden">Previous</span>
																</button>
																<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
																	<span class="carousel-control-next-icon" aria-hidden="true"></span>
																	<span class="visually-hidden">Next</span>
																</button>
															</div>
                              <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-transparent border-0 shadow-none">
      <img id="modalImage" src="" class="img-fluid rounded" alt="">
    </div>
  </div>
</div>
														</div>
													</div>
													<div class="row mb-3">
														<div class="col-12">
															<button class="btn btn-light" onclick="download()">Scarica traccia gpx</button>
														</div>
													</div>
												</div>
                        </main>
											</div>
										</div>
                    <footer class="bg-dark text-light pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5" style="z-index: 1;">
        <h5>Contatti</h5>
        <div class="row me-5">
          <div class="col-2" style="z-index: 1;">
          <a href="https://www.linkedin.com/in/antonio-libranti-04501a204/" target="_blank" class="text-light mx-3 fs-3" style="z-index: 1;">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg>
      </a>
      </div>
      <div class="col-2" style="z-index: 1;">
      <a href="https://www.instagram.com/_leave_this_place/" target="_blank" class="text-light mx-3 fs-3" style="z-index: 1;">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
      </a>
      </div>
      <div class="col-2" style="z-index: 1;">
      <a href="mailto:librantiantonio04@gmail.com" class="text-light mx-3 fs-3" style="z-index: 1;">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11 19h-6a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v4.5" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M20.2 20.2l1.8 1.8" /><path d="M3 7l9 6l9 -6" /></svg>
      </a>
      </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 text-md-end" style="z-index: 1;">
        <h5>© 2025 <a href="https://viaggiditony.it" class="custom-link">Viaggi di Tony</a></h5>
        <p>Tutti i diritti riservati</p>
      </div>
    </div>
  </div>
</footer>
										<script src="/trekking-details.js"></script>
										<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
										<link rel="stylesheet" href="https://unpkg.com/leaflet-elevation/dist/leaflet-elevation.min.css">
											<script src="https://unpkg.com/leaflet-elevation/dist/leaflet-elevation.min.js"></script>
											<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
											<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
											<script>
  
  document.addEventListener("DOMContentLoaded", () => {

    map = L.map('map').setView([51.505, -0.09], 13);
    mostraContenuto()
    generateStars(document.getElementById("rating").innerText)
    })

     const imageModal = document.getElementById('imageModal');
  imageModal.addEventListener('show.bs.modal', event => {
    const triggerImg = event.relatedTarget; // immagine cliccata
    const imgSrc = triggerImg.getAttribute('data-bs-img');
    document.getElementById('modalImage').src = imgSrc;
  });
</script>
</body>
</html>